.widget {
  border-radius: 20px;
  background-color: var(--BGWhite);
  padding: 22px;

  transition: background-color .2s ease-out;
}

.title {
  color: var(--FontDark);
  font-size: 16px;
  margin-bottom: 12px;
}

.skeletonRow {
  height: 35px;
  width: 70%;
  margin-bottom: 27px;
}

.row {
  display: inline-flex;
  gap: 16px;
  margin-bottom: 27px;

  &.bad {
    svg {
      fill: #F66969;
    }
  }
}

.status {
  font-size: 14px;
  margin-bottom: 4px;

  &.good {
    color: #1FCB7A;
  }

  &.bad {
    color: #F66969;
  }
}

.recommendation {
  color: var(--FontGray);
  font-size: 12px;
  font-weight: 400;
}

.card {
  display: flex;
  gap: 10px;
}

.skeletonCard {
  width: 54px;
  height: 54px;
}